@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/*font-face Siemreap*/
@font-face {
  font-family: 'Khmer OS Siemreap';
  src: url('/fonts/Khmer_OS_Siemreap.ttf') format('truetype');
}

@font-face {
  font-family: 'Kantumruy Pro';
  src: url('/fonts/KantumruyPro-Regular.ttf') format('truetype');
}

.KhmerOSSiemreap {
  font-family: 'Khmer OS Siemreap', "Public Sans", "Poppins", sans-serif !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;

}

* {
  font-family: "Kantumruy Pro", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
}

.kantumruyPro {
  font-family: "Kantumruy Pro", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
}


/* * {
  font-family: 'Roboto', sans-serif;
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 1.5s infinite;
  background: linear-gradient(to right,
      transparent 0%,
      rgba(255, 255, 255, 0.6) 50%,
      transparent 100%);
  background-size: 200% 100%;
}

.black-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.black-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ffffff50;
  border-radius: 4px;
}

.black-scrollbar::-webkit-scrollbar-track {
  background-color: #ffffff;
}



.custom-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #696969;
  /* Blue-500 */
  border-radius: 4px;
}

.custom-scroll::-webkit-scrollbar-track {
  background-color: #9c9c9c;
  /* Gray-200 */
  border-radius: 4px;
}

.custom-scroll {
  scrollbar-width: none;
  scrollbar-color: #9e9e9e #979797;
  /* thumb and track colors for Firefox */
}



@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.animate-slide-in {
  animation: slide-in 0.2s ease-out forwards;
}

.animate-slide-out {
  animation: slide-out 0.2s ease-out forwards;
}



@keyframes zoom {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-zoom {
  animation: zoom 0.5s ease-in-out;
}